html {
    width: 100%;
    height: inherit;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

.update-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 20px;
    background-color: #BADA55;
    cursor: pointer;
    border: none;
    color: white;
    transition-duration: 0.7s;
}

.update-button:hover {
    background-color: pink;
    transform:translate(-50%, -50%) scale(1.5);
}

/* white background for digits */
.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* digits */
  .timer__part {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* purple button */
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 115%;
    transform: translate(-50%, -50%);
  }
  
  /* green button */
  .timer__btn--start {
    background: #00b84c;
    position: absolute;
    top: 60%;
    left: -70%;
    transform: translate(-50%, -50%);
  }
  
  .timer__btn--stop {
    background: #ff0256;
    position: absolute;
    top: 60%;
    left: -70%;
    transform: translate(-50%, -50%);
  }